{% block list1 %}

	<div class="col-lg-4 col-md-6 mb-4">
		<div class="card h-100">
			<a href="#"><img class="card-img-top rounded mx-auto d-block" style="height: 150px; width: auto;" src="static/img/i9-10920x.jpg" alt=""></a>
			<div class="card-body">
			<h4 class="card-title">
				<a href="#">i9-10920X</a>
			</h4>
			<h5>$5999</h5>
			<p class="card-text">clockrate: 3.5/4.6GHzMHz, 
				Socket:LGA 2066,
				Cache:19.25MB</p>
			</div>
			<div class="card-footer">
				<small class="text-muted">The best CPU for now</small>
			</div>
		</div>
	</div>

	<div class="col-lg-4 col-md-6 mb-4">
		<div class="card h-100">
			<a href="#"><img class="card-img-top rounded mx-auto d-block" style="height: 150px; width: auto;" src="static/img/i9-9900k.jpg"alt=""></a>
			<div class="card-body">
				<h4 class="card-title">
					<a href="#">i9-9900K</a>
				</h4>
				<h5>$3999</h5>
				<p class="card-text">clockrate: 3600-5000MHz,
					Socket: LGA1151,
					Cache:16 MB SmartCache.</p>
			</div>
			<div class="card-footer">
				<small class="text-muted">Best for gaming</small>
			</div>
		</div>
	</div>

	<div class="col-lg-4 col-md-6 mb-4">
		<div class="card h-100">
			<a href="#"><img class="card-img-top rounded mx-auto d-block" style="height: 150px; width: auto;" src="static/img/i7-9700k.jpg" alt=""></a>
			<div class="card-body">
				<h4 class="card-title">
					<a href="#">i7-9700K</a>
				</h4>
				<h5>$3200</h5>
				<p class="card-text">Clockrate :3600 MHz Max Turbo 4900MHz,
					Socket:LGA 1151,
					Cache:12 MB.</p>
			</div>
			<div class="card-footer">
				<small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
			</div>
		</div>
	</div>

	<div class="col-lg-4 col-md-6 mb-4">
		<div class="card h-100">
			<a href="#"><img class="card-img-top rounded mx-auto d-block" style="height: 150px; width: auto;" src="static/img/3900x.jpg" alt=""></a>
			<div class="card-body">
				<h4 class="card-title">
					<a href="#">3900X</a>
				</h4>
				<h5>$4599</h5>
				<p class="card-text">clockrate:3.30 GHz/4.10 GHzMHz,
									Socket:AM4,
									Cache:L3 64MB,</p>
			</div>
			<div class="card-footer">
				<small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9733;</small>
			</div>
		</div>
	</div>

	<div class="col-lg-4 col-md-6 mb-4">
		<div class="card h-100">
			<a href="#"><img class="card-img-top rounded mx-auto d-block" style="height: 150px; width: auto;" src="static/img/3700x.jpg" alt=""></a>
			<div class="card-body">
				<h4 class="card-title">
					<a href="#">3700X</a>
				</h4>
				<h5>$2599</h5>
				<p class="card-text">clockrate:3.6GHz/4.4GHzMHz,
									Socket:AM4,
									Cache:L3 32MB</p>
			</div>
			<div class="card-footer">
				<small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
			</div>
		</div>
	</div>

	<div class="col-lg-4 col-md-6 mb-4">
		<div class="card h-100">
			<a href="#"><img class="card-img-top rounded mx-auto d-block" style="height: 150px; width: auto;" src="static/img/3600.jpg" alt=""></a>
			<div class="card-body">
				<h4 class="card-title">
					<a href="#">3600</a>
				</h4>
				<h5>$1599</h5>
				<p class="card-text">clockrate:3.6GHz/4.2GHzMHz,
									Socket:AM4,
									Cache:L3 32MB</p>
			</div>
			<div class="card-footer">
				<small class="text-muted">&#9733; &#9733; &#9734; &#9734; &#9734;</small>
			</div>
		</div>
	</div>

{% endblock list1 %}