{% block list3 %}


	<div class="col-lg-4 col-md-6 mb-4">
		<div class="card h-100">
			<a href="#"><img class="card-img-top rounded mx-auto d-block" style="height: 150px; width: auto;" src="static/img/lol.jpg" alt=""></a>
			<div class="card-body">
			<h4 class="card-title">
				<a href="https://lol.garena.tw/download">League of Legends</a>
			</h4>
			<h5>Free</h5>
			<p class="card-text">Oldest and the best </p>
			</div>
			<div class="card-footer">
				<small class="text-muted">find someone with you</small>
			</div>
		</div>
	</div>

	<div class="col-lg-4 col-md-6 mb-4">
		<div class="card h-100">
			<a href="#"><img class="card-img-top rounded mx-auto d-block" style="height: 150px; width: 100%;" src="static/img/r6.jpg"alt=""></a>
			<div class="card-body">
				<h4 class="card-title">
					<a href="https://www.ubisoft.com/en-us/game/rainbow-six/siege">Tom Clancy’s Rainbow Six Siege</a>
				</h4>
				<h5>$89</h5>
				<p class="card-text">
					First-Person-Shooter!
					Tactics!
				</p>
			</div>
			<div class="card-footer">
				<small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9733;</small>
			</div>
		</div>
	</div>

	<div class="col-lg-4 col-md-6 mb-4">
		<div class="card h-100">
			<a href="#"><img class="card-img-top rounded mx-auto d-block" style="height: 150px; width: 100%;" src="static/img/cod.jpg" alt=""></a>
			<div class="card-body">
				<h4 class="card-title">
					<a href="https://www.callofduty.com/modernwarfare">Call of Duty：Modern Warfare</a>
				</h4>
				<h5>$320</h5>
				<p class="card-text">
					First-Person-Shooter!
					Tactics!
				</p>
			</div>
			<div class="card-footer">
				<small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
			</div>
		</div>
	</div>

	<div class="col-lg-4 col-md-6 mb-4">
		<div class="card h-100">
			<a href="#"><img class="card-img-top rounded mx-auto d-block" style="height: 150px; width: auto;" src="static/img/angry.jpg" alt=""></a>
			<div class="card-body">
				<h4 class="card-title">
					<a href="#">Coming Soon</a>
				</h4>
				<h5>$###</h5>
				<p class="card-text">Coming Soon</p>
			</div>
			<div class="card-footer">
				<small class="text-muted">Coming Soon</small>
			</div>
		</div>
	</div>

	<div class="col-lg-4 col-md-6 mb-4">
		<div class="card h-100">
			<a href="#"><img class="card-img-top rounded mx-auto d-block" style="height: 150px; width: auto;" src="static/img/angry.jpg" alt=""></a>
			<div class="card-body">
				<h4 class="card-title">
					<a href="#">Coming Soon</a>
				</h4>
				<h5>$###</h5>
				<p class="card-text">Coming Soon</p>
			</div>
			<div class="card-footer">
				<small class="text-muted">Coming Soon</small>
			</div>
		</div>
	</div>

	<div class="col-lg-4 col-md-6 mb-4">
		<div class="card h-100">
			<a href="#"><img class="card-img-top rounded mx-auto d-block" style="height: 150px; width: auto;" src="static/img/angry.jpg" alt=""></a>
			<div class="card-body">
				<h4 class="card-title">
					<a href="#">Coming Soon</a>
				</h4>
				<h5>$###</h5>
				<p class="card-text">Coming Soon</p>
			</div>
			<div class="card-footer">
				<small class="text-muted">Coming Soon</small>
			</div>
		</div>
	</div>

{% endblock list3 %}