{% block list2 %}


	<div class="col-lg-4 col-md-6 mb-4">
		<div class="card h-100">
			<a href="#"><img class="card-img-top rounded mx-auto d-block" style="height: 150px; width: auto;" src="static/img/2080ti.jpg" alt=""></a>
			<div class="card-body">
			<h4 class="card-title">
				<a href="#">NVIDIA GeForce RTX2080 Ti</a>
			</h4>
			<h5>$12,550</h5>
			<p class="card-text">The best. Nothing to say</p>
			</div>
			<div class="card-footer">
				<small class="text-muted">Buy it is the only right choice</small>
			</div>
		</div>
	</div>

	<div class="col-lg-4 col-md-6 mb-4">
		<div class="card h-100">
			<a href="#"><img class="card-img-top rounded mx-auto d-block" style="height: 150px; width: auto;" src="static/img/2060.jpg"alt=""></a>
			<div class="card-body">
				<h4 class="card-title">
					<a href="#">MSI GeForce RTX2060 VENTUS 6G OC</a>
				</h4>
				<h5>$2750</h5>
				<p class="card-text">
					RAM:6GB GDDR6,
					Input/Output:DisplayPort x 3 (v1.4) / HDMI 2.0b x 1,
					Clockrate (RAM/GPU):Boost Clock / Memory Speed 1710 MHz / 14 Gbps.
				</p>
			</div>
			<div class="card-footer">
				<small class="text-muted">&#9733; &#9733; &#9733; &#9734; &#9734;</small>
			</div>
		</div>
	</div>

	<div class="col-lg-4 col-md-6 mb-4">
		<div class="card h-100">
			<a href="#"><img class="card-img-top rounded mx-auto d-block" style="height: 150px; width: auto;" src="static/img/1660s.jpg" alt=""></a>
			<div class="card-body">
				<h4 class="card-title">
					<a href="#">GIGABYTE GeForce GTX1660 SUPER GAMING OC 6G</a>
				</h4>
				<h5>$2100</h5>
				<p class="card-text">RAM:6GB GDDR6,
									Input/Output:DisplayPort 1.4 *3, HDMI 2.0b *1,
									Clockrate (RAM/GPU):1860 MHz (Reference Card: 1785 MHz)</p>
			</div>
			<div class="card-footer">
				<small class="text-muted">&#9733; &#9733; &#9734; &#9734; &#9734;</small>
			</div>
		</div>
	</div>

	<div class="col-lg-4 col-md-6 mb-4">
		<div class="card h-100">
			<a href="#"><img class="card-img-top rounded mx-auto d-block" style="height: 150px; width: auto;" src="static/img/2070s.jpg" alt=""></a>
			<div class="card-body">
				<h4 class="card-title">
					<a href="#">Zotac Gaming GeForce RTX 2070 SUPER AMP</a>
				</h4>
				<h5>$4599</h5>
				<p class="card-text">RAM 8GB GDDR6</p>
			</div>
			<div class="card-footer">
				<small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
			</div>
		</div>
	</div>

	<div class="col-lg-4 col-md-6 mb-4">
		<div class="card h-100">
			<a href="#"><img class="card-img-top rounded mx-auto d-block" style="height: 150px; width: auto;" src="static/img/5700.jpg" alt=""></a>
			<div class="card-body">
				<h4 class="card-title">
					<a href="#">SAPPhiRE Radeon RX5700 XT 8G GDDR6</a>
				</h4>
				<h5>$3390</h5>
				<p class="card-text">RAM:8GB GDDR6,
				Clockrate (RAM/GPU):GPU: Boost Clock: Up to 1905 MHz</p>
			</div>
			<div class="card-footer">
				<small class="text-muted">&#9733; &#9734; &#9734; &#9734; &#9734;</small>
			</div>
		</div>
	</div>

	<div class="col-lg-4 col-md-6 mb-4">
		<div class="card h-100">
			<a href="#"><img class="card-img-top rounded mx-auto d-block" style="height: 150px; width: auto;" src="static/img/1650s.jpg" alt=""></a>
			<div class="card-body">
				<h4 class="card-title">
					<a href="#">GIGABYTE GeForce GTX 1650 SUPER OC 4G</a>
				</h4>
				<h5>$1380</h5>
				<p class="card-text">
					RAM:4GB DDR6,
					Input/Output:DisplayPort 1.4 *1, HDMI 2.0b *1,DVI-D *1,
					Clockrate (RAM/GPU):1740 MHz (Reference Card: 1725 MHz)
				</p>
			</div>
			<div class="card-footer">
				<small class="text-muted">&#9733; &#9734; &#9734; &#9734; &#9734;</small>
			</div>
		</div>
	</div>

{% endblock list2 %}