{% include 'layout.html' %}

{% block body %}

 <div class="container">
      <div class="blog-header">
        <h1 class="blog-title">My flask-Bootstrap</h1>
        <p class="lead blog-description">The way to dead line</p>
      </div>
      <div class="row">
        <div class="col-sm-8 blog-main">
          	<div class="blog-post">
            	<h2 class="blog-post-title">The end</h2>
            	<p class="blog-post-meta">April 20, 2020 by <a href="#">Amos</a></p>
            	<hr>
            	<p>Many thing still not done yet. I have many things need to do, but I have no time left</p>
            	<p>The sign in cannot work i expected. the product show page is not done yet, and etc... the time manage is really bad for me.</p>
        	</div>
        	<div class="blog-post">
            	<h2 class="blog-post-title">near the end</h2>
            	<p class="blog-post-meta">April 19, 2020 by <a href="#">Amos</a></p>
            	<hr>
            	<p>What am I doing ?_? Cannot fix the bugs, one bug after one bug. where is the end. I think I cannot finish all the thing which I wnat to do.</p>
			     </div>
		    </div>
        <div class="col-sm-4 col-sm-offset-1">
          	<div class="">
            	<h4>About</h4>
            	<p>I am a year 2 student. Although I watch demo video many time, I still cannot finish my things with no bugs I want to kill meself.</p>
          	</div>
          <div class="">
            <h4>Date</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2020</a></li>
              <li><a href="#">April 2020</a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere (I have but no link)</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div>
     </div>
</div>

{% endblock body%}