{% include 'layout.html' %}

{% include 'carousel.html' %}
    
{% block body %}
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>WELCOME</h3>
      <p>In here, you can buy computer parts</p>
      <p>for example, CUP, Motherboard</p>
    </div>
    <div class="col-sm-4">
      <h3>TO MY</h3>
      <p>Also, you can buy some games here</p>
      <p>like lol , rainbow 6, Call of Duty</p>
    </div>
    <div class="col-sm-4">
      <h3>FLASK-BOOTSTRAP SHOP</h3>        
      <p>this page can be better</p>
      <p>if I do not waste too much time</p>
    </div>
  </div>
</div>

{% endblock %}